MONGO_URI=mongodb+srv://moshood2uall_db_user:MTOscBfON6XDKbGi@narapsite.dscc9gw.mongodb.net/?retryWrites=true&w=majority&appName=Narapsite
PORT=5000
JWT_SECRET=super-secret-change-me
CORS_ORIGIN=*
ADMIN_INVITE_CODE=2323
PAYSTACK_PUBLIC=pk_test_xxxxxxxxxxxxxxxxxxxxx
PAYSTACK_SECRET=sk_test_xxxxxxxxxxxxxxxxxxxxx
PAYMENT_DEFAULT_AMOUNT=500000   # kobo (₦5,000 = 500000)
